<!DOCTYPE html>
<html>
<%= render partial: 'layouts/head' %>
<body style="padding-top:50px;">
  <%= render partial: 'layouts/navbar' %>
  <div class = "container">
    
    <%= render partial: 'layouts/errors' %>
    
    <%= yield %>

  </div>
</body>
</html>
